:root{
  /* Colors are from light to dark */
  --accentColor0:#1f8ccb;
  --accentColor1:#0774b3;
  --accentColor2:#265b86;

  --system0:rgb(240, 240, 240);
  --system1:rgb(235, 235, 238);
  --system2:rgb(225, 225, 228);
  --system3:rgb(215, 215, 218);

  --baseColor0:rgb(180, 180, 180);
  --baseColor1:rgb(250, 250, 250);

  /* Text Properties*/
  --textColor:black;
  --buttonTextColor0:#fff;
  --buttonTextColor1:black;
  --fontFamily:'Montserrat', sans-serif;
  --headingFontFamily:var(--fontFamily);
}