:root{
    /* Colors are from light to dark */
    --scuBaseColor0:#cb1f21;
    --scuBaseColor1:#b30738;
    --scuBaseColor2:#862633;

    --black0:rgb(50, 50, 50);
    --black1:rgb(40, 40, 40);
    --black2:rgb(35, 35, 35);
    --black3:rgb(30, 30, 30);
}

body {
    color: #DDD;
    background-color:  #222;
    font-family: 'Montserrat', sans-serif;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */

    cursor: default;

    /*noinspection CssInvalidFunction*/
    padding-bottom: env(safe-area-inset-bottom);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alata', sans-serif;
}

header{padding: 0.5em 0;}
p{color: rgb(100, 100, 100);}
a{color: rgb(100, 100, 100);}

.container {
    border-radius: 10px;
    border: 2px solid var(--black0);
    background-color:var(--black1);
    box-shadow:0px 1px 15px var(--black3);
    padding: 1em;
}

.flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
}

.buttonLink{
    padding: 0.5em 1em;
    border-radius:5px;
    width:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: var(--scuBaseColor1);
    color: #fff;
    text-decoration: none;
    border: 1px solid var(--scuBaseColor3);
}



@media only screen and (min-width: 300px) {main {margin: 0 5%;}}
@media only screen and (min-width: 700px) {main {margin: 0 15%;}}
@media only screen and (min-width: 1200px) {main {margin: 0 30%;}}